
{% load static %}
<!DOCTYPE html>
<html>

<link rel = 'stylesheet' type = "text/css" href="{% static 'css/base.css' %}">

    <section class = 'glass_pane'>

<body>

    <section class = 'banner'>

 

    <div id="icon"> <img></img> </div>

    <section class = "icon_section">
        <img class ="icon" src="{% static 'images/social-media.gif' %}">

            <h1>HSE HEALTHCARE</h1>

        </section>
<h2 >PLEASE LOGIN</h2> 
   </section>



<section><div class="login-box">
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>USERNAME</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>PASSWORD</label>
      </div>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
    </form>
  </div></section>


</section>
</body>



</html>