
{% load static %}
<!DOCTYPE html>
<html>

<link rel = 'stylesheet' type = "text/css" href="{% static 'css/base.css' %}">

    <section class = 'glass_pane'>

<body>

    <section class = 'banner'>

 

    <div id="icon"> <img></img> </div>

    <section class = "icon_section">
        <img class ="icon" src="{% static 'images/social-media.gif' %}">

            <h1>OPTIONS</h1>

        </section>
<h2 ></h2> 
   </section>


  
   <section class="containermiddle">

    <div class="container">
      <div class="cursor-box pointer">COMPETE WITH YOUR FRIENDS</div>
      <div class="cursor-box help">DIRECT MESSAGE </div>
      <div class="cursor-box wait">ROUTE MAPPING</div>
      <div class="cursor-box crosshair">HABIT TRACKING</div>
      <div class="cursor-box text">t</div>
      <div class="cursor-box not-allowed">not-allowed</div>
      <div class="cursor-box grab">grab</div>
      <div class="cursor-box zoom-in">zoom-in</div>
      <div class="cursor-box cell">cell</div>
      <div class="cursor-box copy">copy</div>
      <div class="cursor-box move">move</div>
      <div class="cursor-box alias">alias</div>
  </div>
</section>



</section>
</body>



</html>